<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <title>卡片绑定</title>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script src="scripts/vendor/angular.js"></script>
    <script src="scripts/vendor/angular-cookies.js"></script>
    <script src="scripts/vendor/angular-utf8-base64.js"></script>
    <script src="scripts/vendor/md5.js"></script>
    <script src="scripts/yct-http-service.js"></script>

    <base href="">
    <link rel="stylesheet" href="styles/weui.css">
    <link rel="stylesheet" href="styles/example.css">
    <link rel="stylesheet" href="styles/cardbind.css">

</head>

<script>
    var myAppModule = angular.module('myApp', ['ngCookies', 'ab-base64','yct-http-service']);

    myAppModule.config(['$locationProvider', '$httpProvider', function ($locationProvider, $httpProvider) {
        $locationProvider.html5Mode({
            enabled: true,
            requireBase: false
        });
        //默认超时30秒
        $httpProvider.defaults.timeout = 30000;
    }]);


    myAppModule.controller('MainCtrl', function ($scope, $cookies, $timeout, GetService,$window,$log, PostService) {

        //初始化所有提示窗口的显示状态
        $scope.isActive = false;//确定按钮状态控制变量
        $scope.myDialog2Show = false;
        $scope.myToastShow = false;
        $scope.myLoadingToastShow = false;

        //判断是否有openid的cookies
        $scope.openid = $cookies.get('openid');
        console.log('openid:');
        console.log($scope.openid);
        if ($scope.openid == undefined) {//判断cookies中是否有openid,没有则通过网络获取
            var promise = GetService.getOpenid();
            promise.then(function (data) {
                console.log('getOpenid promise Success: ');
                $scope.openid = data.openid;
                $cookies.put('openid', $scope.openid);
                $scope.isActive = true;
                $scope.myLoadingToastShow = false;
            }, function (data) {
                console.log('getOpenid promise Failed: ');
                $scope.openid = data;
                $scope.myLoadingToastShow = false;
                $scope.myToastText = $scope.text.getOpenidError;
                $scope.myToastShow = true;
            });
        } else {
            $scope.isActive = true;
        }

        $scope.text = {finish: '已完成', loading: '加载中', getOpenidError: '加载失败，请刷新页面', plzInput: '请输入完整卡号'};

        $scope.confirmClick = function () {
            if ($cookies.get('openid') != undefined) {//判断cookies中是否有openid，有则直接调用接口
                if ($scope.card_num == undefined || $scope.card_num.length < 10) {
                    $scope.myToastText = $scope.text.plzInput;
                    $scope.myToastShow = true;
                    $timeout(function () {
                        $scope.myToastShow = false;
                    }, 1000);
                    return;
                }

                var promise = PostService.CardBind(1,$scope.card_num,"");
                promise.then(function (data) {
                    console.log('CardBind promise Success: ');
                    $scope.redirect_cardlist = true;
//                    $scope.myDialog2Title = '提示';
                    $scope.myDialog2Text = '绑定成功';
                    $scope.myDialog2Show = true;
                }, function (data) {
                    console.log('CardBind promise Failed: ');
                    console.log(data);
//                    $scope.myDialog2Title = '提示';
                    $scope.myDialog2Text = data;
                    $scope.myDialog2Show = true;

                });
            }
            if ($cookies.get('openid') == undefined && $scope.openid == undefined) {
                //直到get请求返回才使loadingtoask消失
                $scope.myLoadingToastText = '正在获取openid';
                $scope.myLoadingToastShow = true;
            }
            else if ($scope.openid != undefined && $cookies.get('openid') == undefined) {//open获取失败
                $scope.myToastText = $scope.text.getOpenidError;
                $scope.myToastShow = true;
                $timeout(function () {
                    $scope.myToastShow = false;
                }, 2000);
            }
        };

        $scope.dialog2Confirm = function () {
            $scope.myDialog2Show = false;
            if($scope.redirect_cardlist){
                var url = "http://" + $window.location.host + "/requirejs-app/app/cardlist.html";
                $log.log(url);
                $window.location.href = url;
            }
        }

    });

</script>

<body ng-controller="MainCtrl">
<br>
<span class="logo"></span>
<div class="hd">
    <div class="weui_cells_title">请先进行卡片绑定操作</div>
    <!--<div class="weui_cells_title">openid:{{openid}}</div>-->
    <div class="weui_cells weui_cells_form">
        <div class="weui_cell ">
            <div class="weui_cell_hd"><label class="weui_label">卡号</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input ng-model="card_num" class="weui_input" type="tel" maxlength="10"
                       placeholder="请输入10位羊城通卡号"/>
            </div>
        </div>
    </div>
    <br>
    <button ng-click="confirmClick()"
            ng-class="{true:'weui_btn weui_btn_primary',false:'weui_btn weui_btn_disabled weui_btn_primary'}[isActive]">
        确定
    </button>
    <br>

    <span class="tip"></span>

</div>

<div ng-include="'weui_component.html'"></div>
</body>


</html>